<div class="row">
    <div class="col-md-6">
        <img src="https://api.hubblehq.com/api/v2/blog-posts/file/2020/07/colleagues.png?api_key=xt27dkusD3rcmzzw"
            alt="image" class="images">
    </div>
    <div class="col-md-6">
        <div class="d-flex" style="justify-content: center;">
            <img src="https://miro.medium.com/max/1400/1*9m-WDdL_ji01bGbjEnutEw.gif"
                alt="image" class="images" style="width: 500px;">
        </div>
        <div class="d-flex" style="justify-content: center;">
            <h1>Hello There</h1>
        </div>
        <div class="d-flex mt-4" style="justify-content: space-evenly; ">
            <a href="/login" class="btn btn-success" style="width: 100px;">Login</a>
            <a href="/signup" class="btn btn-primary" style="width: 100px;">Signup</a>
        </div>
    </div>
</div>